.source.java {
  .storage {
    &.modifier.import {
      color: @green;
    }

    &.type {
      color: @purple;
    }
  }

  .variable {
    color: @red;

    &.this {
      font-style: italic;
    }
  }
}

.source.java-properties {
  .meta.key-pair {
    color: @cyan;

    & > .punctuation {
      color: @gray;
    }
  }
}
