@gray1: #1b202a;
@gray2: #323c4d;
@gray3: #51617d;
@gray4: #7587a6;
@gray5: #9aa7bd;

@red: #b15e7c;
@orange: #b3785d;
@yellow: #b5a262;
@green: #709d6c;
@cyan: #56adb7;
@blue: #608cc3;
@purple: #8f72bf;
@pink: #c47ebd;

@accent: #73a2e5;
@marker: fade(@gray5, 20%);
@cursorline: fade(@gray3, 15%);
@gutter: darken(@gray3, 10%);
@selection: lighten(@gray1, 6%);
