@very-light-gray: #a6b1c5;
@light-gray: #7587a6;
@gray: #51617d;
@dark-gray: #323c4d;
@very-dark-gray: #1b202a;

@red: #b75377;
@orange: #bc7d63;
@yellow: #c3aa6f;
@green: #93b467;
@cyan: #5eb2b6;
@blue: #6a99d1;
@purple: #8f72bf;

@bright-green: #26e2a5;
