// Language syntax highlighting

.comment {
  color: @gray;
  font-style: italic;

  .keyword,
  .keyword.punctuation,
  .string,
  .parameter,
  .markup.link {
    color: @light-gray;
  }
}

.entity {
  &.name.type {
    color: @orange;
  }

  &.other.inherited-class {
    color: @green;
  }
}

.keyword {
  color: @blue;

  &.operator {
    color: @syntax-text-color;
  }

  &.other.unit {
    color: @red;
  }
}

.storage {
  color: @blue;
}

.constant {
  color: @red;
}

.variable {
  color: @purple;


  &.interpolation {
    color: @pink;
  }

  &.parameter {
    color: @syntax-text-color;
  }
}

.string {
  color: @green;

  &.regexp {
    color: @cyan;

    .source.ruby.embedded {
      color: @orange;
    }
  }

  &.other.link {
    color: @purple;
  }
}

.punctuation {
  &.definition {
    &.parameters,
    &.array {
      color: @syntax-text-color;
    }

    &.heading,
    &.identity {
      color: @yellow;
    }

    &.tag {
      color: @purple;
    }

    &.bold {
      color: @red;
      font-weight: bold;
    }

    &.italic {
      color: @blue;
      font-style: italic;
    }
  }

  &.section {
    &.embedded {
      color: @pink;
    }

    &.method,
    &.class,
    &.inner-class {
      color: @syntax-text-color;
    }
  }
}

.support {
  &.class {
    color: @orange;
  }

  &.type,
  &.function  {
    color: @cyan;

    &.any-method {
      color: @yellow;
    }
  }
}

.entity {
  &.name.function {
    color: @yellow;
  }

  &.name.class,
  &.name.type.class {
    color: @orange;
  }

  &.name.section,
  &.name.tag {
    color: @blue;
  }

  &.other.attribute-name {
    color: @yellow;

    &.id {
      color: @red;
    }
  }
}

.meta {
  &.class {
    color: @orange;

    &.body {
      color: @syntax-text-color;
    }
  }

  &.require {
    color: @yellow;
  }

  &.selector {
    color: @blue;
  }

  &.separator {
    background-color: @dark-gray;
    color: @syntax-text-color;
  }
}

.none {
  color: @syntax-text-color;
}

.invalid {
  &.deprecated {
    color: @syntax-background-color !important;
    background-color: @yellow !important;
  }

  &.illegal {
    color: @syntax-background-color !important;
    background-color: @red !important;
  }
}
