@import "colors";

// General colors
@syntax-text-color: @gray5;
@syntax-cursor-color: @accent;
@syntax-selection-color: @selection;
@syntax-background-color: @gray1;

// Guide colors
@syntax-wrap-guide-color: @gray2;
@syntax-indent-guide-color: @gray2;
@syntax-invisible-character-color: @gray2;

// For find and replace markers
@syntax-result-marker-color: @marker;
@syntax-result-marker-color-selected: @gray5;

// Gutter colors
@syntax-gutter-text-color: @gutter;
@syntax-gutter-text-color-selected: @gray5;
@syntax-gutter-background-color: @gray1;
@syntax-gutter-background-color-selected: @selection;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @yellow;
@syntax-color-removed: @red;
